@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,600;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  max-width: 100vw;
  font-family: Poppins, sans-serif;
  color: black;
  background-color: hsl(var(--primary-hue), 90%, 90%);
  overflow-x: hidden;
}

::selection {
  background-color: hsl(var(--primary-hue), 100%, 75%);
  color: hsl(var(--primary-hue), 70%, 10%);
}
.modal {
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}
.spinner {
  border-right: 2px solid white;
  border-top: 2px solid var(--accent-clr);
  border-left: 2px solid white;
  border-bottom: 2px solid var(--accent-clr);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}
.spinnerLabel {
  color: var(--accent-clr);
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.hero {
  position: relative;
  width: 100vw;
  height: 120vh;
  background-color: hsl(var(--primary-hue), 100%, 69%);
  /* background: radial-gradient(
    circle at 50% 55%,
    hsl(calc(var(--primary-hue) + 40), 90%, 70%),
    hsl(var(--primary-hue), 100%, 69%)
  ); */
  background: linear-gradient(
    90deg,
    hsl(calc(var(--primary-hue) + 20), 90%, 70%) 50%,
    hsl(var(--primary-hue), 100%, 69%) 50% 100%
  );
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}
header {
  height: 60px;
  width: 100vw;
  padding: 10px 40px;
}
button {
  cursor: pointer;
  padding: 0.5em 2em;
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--accent-clr);
  transition: transform 0.5s, box-shadow 0.5s;
}
button:hover,
button:active {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
}
header h1 {
  font-weight: 500;
  font-size: 1.5em;
  color: var(--font-clr);
}
.hero .container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.main {
  color: var(--font-clr);
  padding: 3em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  width: fit-content;
  text-align: center;
}
.wavingHand {
  display: inline-block;
  /* transform: rotate(-45deg); */
  font-size: 1.8em;
  animation: waveHand 2s infinite ease-in-out;
}
.main h3 {
  font-weight: 300;
  line-height: 1em;
}
.main h2 {
  font-weight: 300;
}
.main h1 {
  font-weight: 900;
  font-size: 4em;
}
section {
  font-size: 1.2rem;
  padding: 3em 1em;
  z-index: 10;
}
.scroll-down {
  position: absolute;
  top: calc(100vh - 140px);
  height: 50px;
  width: 30px;
  opacity: 0.7;
  border: 2px solid var(--font-clr);
  border-radius: 1000px; /*really high value to make borders circular instead of oval*/
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 3s;
}
.scroll-down::after {
  content: " ";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--font-clr);
  left: 50%;
  bottom: 2px;
  transform: translateX(-50%);
  animation: scroll-down 1.35s ease-in-out infinite;
}
#about {
  position: relative;
  z-index: 0;
}
#about > p {
  text-align: center;
  max-width: 600px;
  margin: auto;
}
#about .blob {
  fill: var(--accent-clr);
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}
#social {
  background-color: hsl(var(--primary-hue), 50%, 40%);
  clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 80%);
}
#social .contactMe {
  margin-bottom: 15px;
  text-align: center;
  width: 100vw;
  font-size: 1.2em;
  font-weight: 900;
  color: white;
  transform: rotate(9deg);
}

#social .icon {
  cursor: pointer;
  background-color: black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: white;
}
#social .icon#icon-twitter {
  background-color: #1da1f2;
}
#social .icon#icon-instagram {
  background: linear-gradient(
    -135deg,
    #515bd4,
    #8134af,
    #dd2a7b,
    #feda77,
    #f58529
  );
}
#social .icon#icon-facebook {
  background-color: #1877f2;
}
#social .icon#icon-linkedin {
  background-color: #0077b5;
}
#gallery {
  position: relative;
  height: 600px;
}
#gallery .container {
  position: absolute;
  top: 10%;
  left: 0;
  margin-bottom: 30px;
  width: 100%;
  height: 350px;
}

#gallery .container img {
  height: 350px !important;
}

#gallery a#viewAll {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  padding: 0.51em 2em;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: hsl(var(--primary-hue), 100%, 20%);
}
.big-screen {
  display: none;
}
.title {
  margin-bottom: 1em;
  color: var(--accent-clr);
  font-weight: 500;
  /* border-left: 5px solid var(--accent-clr); */
  padding-left: 1ch;
}
.title {
  position: relative;
  text-align: center;
  width: 100%;
  /* border: none !important; */
}
.title::after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: -0px;
  width: 40px;
  transform: translateX(-15px);

  display: block;
  height: 7px;
  /* making the border radius very large to tell the css renderer to draw circle as border instead of oval */
  border-radius: 100px;
  background-color: currentColor;
}
#achivements {
  position: relative;
  padding-top: calc(10% + 4em);
  padding-bottom: calc(10% + 4em);
  clip-path: polygon(
    0 0,
    10% 10%,
    90% 10%,
    100% 0%,
    100% 100%,
    90% 90%,
    10% 90%,
    0% 100%
  );
  background-color: hsl(var(--primary-hue), 50%, 40%);
  color: hsl(var(--primary-hue), 70%, 90%);
}
#achivements .title {
  color: white;
}
#achivements .achivement {
  margin: 10px;
  width: 100%;
  width: min(500px, 100%);
}
#achivements .achivement .fa-award {
  background-color: hsl(var(--primary-hue), 50%, 70%);
  color: hsl(var(--primary-hue), 50%, 20%);
  display: inline-block;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  margin-right: 20px;
}
#achivements .achivement .description {
  display: inline;
}
#userInteraction {
  background: hsl(var(--primary-hue), 50%, 40%);
}
#userInteraction .editButton {
  font-size: 1.2em;
  font-weight: 600;
  padding: 1em 1em;
  background: hsl(var(--primary-hue), 50%, 70%);
}

footer {
  background: hsl(var(--primary-hue), 100%, 20%);
  color: hsl(var(--primary-hue), 100%, 80%);
  text-align: center;
  padding: 1em;
}

.hero {
  z-index: 10;
}

.gamify {
  height: 50px;
  width: 100%;
  border: none;
  color: var(--accent-clr);
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 8px,
    currentcolor 8px,
    currentcolor 10px
  );
  opacity: 0.1;
}
@media (min-width: 500px) {
  section {
    padding: 3em 3em;
  }
  #social .icon {
    transform: none !important;
  }
  #social .contactMe {
    transform: none;
  }
}
@media (min-width: 700px) {
  .big-screen {
    display: initial;
  }

  .hero .main {
    left: 30px;
    transform: translate(0, -80%);
    text-align: left !important;
    z-index: 100;
  }

  .hero {
    background: linear-gradient(
      90deg,
      hsl(calc(var(--primary-hue) + 20), 90%, 70%) 50%,
      hsl(var(--primary-hue), 100%, 69%) 50% 100%
    );
  }
  .hero .illustration {
    position: absolute;
    top: 50%;
    right: 5vw;
    transform: translate(0, -50%);
  }
  .hero .illustration .square {
    opacity: 0.5;
    aspect-ratio: 1 / 1;
    width: 20vw;
    height: 20vw;
    background-color: hsl(calc(var(--primary-hue)), 100%, 20%);
  }
  .hero .illustration .square:nth-child(1) {
    margin-left: 20vw;
    background-color: hsl(calc(var(--primary-hue) + 10), 80%, 50%);
  }
  .hero .illustration img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35vw;
    height: auto;
    filter: drop-shadow(5px 5px 5px black);
  }

  .main h3 {
    font-weight: 300;
    line-height: 1em;
    font-size: 2vw;
  }
  .main h2 {
    font-weight: 300;
    font-size: 2vw;
  }
  .main h1 {
    font-weight: 900;
    font-size: 7vw;
  }
}
@keyframes waveHand {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(+0deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scroll-down {
  0% {
    bottom: 2px;
    opacity: 1;
  }
  90% {
    bottom: calc(100% - 22px);
    opacity: 0.1;
  }
  100% {
    bottom: calc(100% - 22px);
    opacity: 0;
  }
}
